@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/plugin1/css/plugin1.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="hello-word">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
